.imagem2{
    background-image: url(https://media2.giphy.com/media/l41YlE1Scus5I2cfu/giphy.gif?cid=ecf05e47lswzheoji1fbdcctkys8dhwv8gpv986awcy589xz&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}